
{% extends "base.html" %}

{% load crispy_forms_tags %}
{% block content %}
  <h2 class="text-center text-white font-bold py-4">Password change form</h2>
  <form method="post" style="width: 50%; height: 500px; margin:auto;" class="pt-4" novalidate>
    {% csrf_token %}
    {% for fm in form %}
      <p>
        {{ fm.label_tag }}<br>
        {{ fm }}<br>
        {{ fm|striptags }}
        <br>
        {% if fm.errors %}
          <ul class="text-red-500">
            {% for error in fm.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>
    {% endfor %}
    
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Change your password</button>
  </form>
{% endblock %}
