<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock %}
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-indigo-600">
    {% include 'navbar.html' %}
    {% block body %}
    <div class="lg-container lg:mx-auto" id="main">
        {% include 'messages.html' %}
        {% block content %} {% endblock %}

    </div>
   

    {% endblock %}
    {% include 'footer.html' %}

</body>
</html>